
a{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

a:hover{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/* HEADER */

.header{
	background: url(../img/header-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 56px 0 386px;
	color: #fff;
}

.firm .logo{
	width: 41px;
	height: 41px;
	background: url(../img/sprite.png) no-repeat;
	background-position: 0 0;
	float: left;
}

.firm h1{
	display: block;
	font-size: 1.313em;
	margin: 10px 0 0 51px;
	font-family: 'Merriweather', serif;
}

.slogan{
	margin: 355px 0 0 0;
}

.slogan h2{
	display: block;
	font-size: 3.750em;
	margin: 0 0 35px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.slogan p{
	font-size: 0.938em;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

/* SECTION START */

.start{
	padding: 114px 0 87px;
}

.start h3{
	display: block;
	margin: 0 0 39px 0;
	font-size: 1.875em;
	color: #222626;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.start p{
	font-size: 1em;
	line-height: 24px;
	color: #959595;
	font-family: 'Open Sans', sans-serif;
}

.iphone img{
	position: absolute;
	top: -805px;
	right: -30px;
}

/* SECTION CONTENT */

.content{
	color: #fff;
}

.content .row{
	overflow: hidden;
	float: none;
}

.content .col-md-4{
	padding: 52px 56px 60px 43px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.content .col-md-8{
	padding: 52px 315px 64px 43px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.content .col-md-4:hover,
.content .col-md-8:hover{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: .8;
}

.block-1{
	background: #f5989d;
}

.block-2{
	background: #615f7d;
}

.block-3{
	background: url(../img/our-clients-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
}

.block-4{
	background: url(../img/sign-up-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
}

.block-5{
	background: #82ca9c;
}

.block-6{
	background: #bd8cbf;
}

.block-7{
	background: url(../img/start-something-new-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
}

.content h4{
	font-size: 1.875em;
	margin-bottom: 33px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.content p{
	font-size: 0.938em;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.content a{
	display: block;
	margin-top: 40px;
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.content .col-md-8 a{
	margin-top: 60px;
}

.content a:hover{
	text-decoration: none;
	color: #fff;
	opacity: .5;
}

.arrow{
	display: inline-block;
	width: 14px;
	height: 5px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -50px -20px;
	margin: 0 0 2px 15px;
}

.heart{
	display: block;
	position: absolute;
	right: 43px;
	bottom: 43px;
	width: 18px;
	height: 17px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -50px -26px;
}

/* SECTION DETAILS */

.details{
	padding: 98px 0 160px 0;
}

.details h3{
	margin-bottom: 60px;
	font-size: 2.188em;
	color: #222626;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.details h5{
	margin-bottom: 30px;
	font-size: 0.938em;
	color: #67676d;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.details p{
	font-size: 1em;
	color: #959595;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

/* SECTION CAR */

.car{
	background: url(../img/car-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 454px 0 134px;
	color: #fff;
}

.car h2{
	font-size: 3.750em;
	margin-bottom: 45px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.car p{
	font-size: 0.938em;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.car a{
	display: block;
	margin-top: 25px;
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.car a:hover{
	text-decoration: none;
	color: #fff;
	opacity: .5;
}

/* SECTION REASONS */

.reasons{
	padding: 127px 0 166px 0;
	background: #82ca9c;
	color: #fff;
}

.reasons h3{
	margin-bottom: 60px;
	font-size: 2.188em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.reasons h5{
	margin-bottom: 30px;
	font-size: 0.938em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.reasons p{
	font-size: 1em;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

/* SECTION BUY NOW */

.buy-now{
	padding: 103px 0 145px;
	background: #f6f7fa;
}

.buy-now .col-md-6{
	padding: 47px 99px 56px 53px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.tag{
	display: inline-block;
	padding: 8px 13px;
	background: #e1e1e1;
	border-radius: 3px;
	font-size: 0.813em;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.buy-now h3{
	margin: 23px 0 25px;
	font-size: 1.875em;
	color: #2e3b4e;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.buy-now p{
	font-size: 1em;
	color: #8297a7;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.buy-now .price{
	display: inline-block;
	padding: 18px 28px;
	margin: 29px 0 19px;
	background: #82ca9c;
	border-radius: 3px;
	font-size: 0.938em;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.buy-now .price:hover{
	text-decoration: none;
	opacity: .8;
}

.buy-now a i{
	color: #c5c5c5;
	margin-right: 16px;
	font-size: 1.8em;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.buy-now a i:hover{
	opacity: .8;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.buy-now .col-md-6:hover,
.buy-now .col-md-6:focus,
.buy-now .col-md-6:active{
	-webkit-box-shadow: 0px 0px 62px -5px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 62px -5px rgba(204,204,204,1);
	box-shadow: 0px 0px 62px -5px rgba(204,204,204,1);
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.buy-now .col-md-6:hover .tag,
.buy-now .col-md-6:focus .tag,
.buy-now .col-md-6:active .tag{
	background: #bd8cbf;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/* FOOTER */

.footer{
	padding: 130px 0 157px;
	background: #192431;
	color: #f6f7fa;
}

.footer h6{
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.footer .col-md-6:first-child p{
	font-size: 0.938em;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

.footer .form{
	margin-bottom: 18px;
}

.form input[type="text"]{
	width: 400px;
	height: 58px;
	vertical-align: middle;
	outline: none;
	border: none;
	border-radius: 2px 0 0 2px;
	margin-top: 5px;
	font-size: 2em;
	color: #57697f;
}

.form button{
	width: 70px;
	height: 58px;
	vertical-align: middle;
	outline: none;
	border: none;
	border-radius: 0 2px 2px 0;
	background: #82ca9c;
	margin: 5px 0 0 -4px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.form button:hover{
	opacity: .8;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.form button i.ok{
	display: block;
	width: 24px;
	height: 18px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -70px -7px;
	margin: 0 auto;
}

.footer .col-md-6:nth-child(2) p{
	font-size: 0.875em;
	line-height: 18px;
	color: #57697f;
	font-family: 'Open Sans', sans-serif;
}

.footer ul{
	padding-left: 0;
}

.footer ul li{
	list-style: none;
	margin-bottom: 8px;
}

.footer ul li a{
	text-decoration: none;
	color: #f6f7fa;
	font-size: 0.938em;
	font-family: 'Open Sans', sans-serif;
}

.footer ul li a:hover{
	opacity: .7;
}

/* MEDIA QUERIS */

@media screen and (max-width: 1200px){
	
	.iphone img{
		right: 0px;
	}

	.form input[type="text"]{
		width: 350px;
	}
}

@media screen and (max-width: 992px){
	
	.iphone img{
		width: 400px;
		height: auto;
		top: -600px;
	}

	.details .col-sm-6,
	.reasons .col-sm-6{
		margin-bottom: 30px;
	}

	.buy-now .col-md-6{
		padding: 47px 39px 56px 53px;
	}

	.content .col-md-4,
	.content .col-md-8{
		padding-right: 200px;
	}

	.footer .col-md-6{
		margin-bottom: 50px;
	}

	.footer .col-xs-6{
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 600px){
	
	.iphone img{
		width: 200px;
		height: auto;
		top: -380px;
		right: 50px;
	}

	.content .col-md-4,
	.content .col-md-8{
		padding-right: 30px;
	}
}

@media screen and (max-width: 450px){
	
	.iphone img{
		width: 200px;
		height: auto;
		top: -400px;
		right: 0px;
	}

	.form input[type="text"]{
		width: 250px;
	}
}

@media screen and (max-width: 370px){
	
	.iphone img{
		width: 200px;
		height: auto;
		top: -490px;
		right: 90px;
	}

	.form input[type="text"]{
		width: 200px;
	}
}